<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">

<script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/static/js/underscore.js"></script>
<script type="text/javascript" src="/static/js/backbone.js"></script>
<script type="text/javascript" src="/static/js/d3.v3.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script><script type="text/javascript" src="/static/main.js"></script>

<style type="text/css">
   html { height: 100% }
   #stationmap { height: 400px }
path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;


}

</style>

</head>
<body>
<script type="text/template" id="stationstat_template">
<div> <%= stationName %> </div>
<div> Bikes: <%= availableBikes %> </div>
<div> Docks: <%= availableDocks %> </div>
<div> Diff (last 5 minutes): <%= diff %> </div>
</script>

<script type="text/teplate" id="stationlist_template">
<select>
<% _.each(stations, function(name) { %> <option value="<%=name%>"><%= name %></option> <% }); %>";
</select>
</script>


<h1>CitiBikes</h1>
<div class="purge-g">
  <div class="pure-u-2-3">
    <div id="stationmap" >Stationmap goes here</div>
  </div>
  <div class="pure-u-1-6">
    <div id="stationstats">Station Stats go here </div>
  </div>
</div>

<div class="purge-g">
  <div class="pure-u-2-3">
    <div id="graph">graph goes here</div>
  </div>
</div>
</body>
