<head>
<script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/static/js/underscore.js"></script>
<script type="text/javascript" src="/static/js/backbone.js"></script>
<script type="text/javascript" src="/static/js/d3.v3.js"></script>
<script type="text/javascript" src="/static/main.js"></script>
</head>
<body>
<script type="text/teplate" id="time_template">
<div> <%= date %> </div>
<input type="range" id="daterange" step="3000" min="<%= min %>" max="<%= max %>"value= <% print(date.getTime()) %> ></input>
</script>

<script type="text/teplate" id="stationlist_template">
<select>
<% _.each(stations, function(name) { %> <option value="<%=name%>"><%= name %></option> <% }); %>";
</select>
</script>


<h1>Hello</h1>
<div id="interface">replace</div>
<div id="stationlist">Stations</div>
</body>
