<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">

<script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/static/js/underscore.js"></script>
<script type="text/javascript" src="/static/js/backbone.js"></script>
<script type="text/javascript" src="/static/js/d3.v3.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script><script type="text/javascript" src="/static/main.js"></script>

<style type="text/css">
   html { height: 100% margin-bottom:20pt; margin-top:40pt;}
   #stationmap { height: 400px; }
path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;


}

.pure-g {padding:5px;}
.pure-u-2-3 {padding:5px;}

#menu {
  position: fixed;
  right: 0;
  top: 5%;
   margin-top: -2.5em;
}

</style>


</head>
<body>
<script type="text/template" id="stationstat_template">
<div> <%= stationName %> </div>
<div> Bikes: <%= availableBikes %> </div>
<div> Docks: <%= availableDocks %> </div>
<div> Diff (last 5 minutes): <%= diff %> </div>
</script>




<div id="menu" class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="#" class="pure-menu-heading"><h1>Citibike Stats</h1></a>

    <ul>
        <li class="pure-menu-selected"><a href="#stationmap">Home</a></li>
        <li><a href="#what">What</a></li>
        <li><a href="#why">Why</a></li>
        <li><a href="#who">Who</a></li>
    </ul>
</div>

<div  class="pure-g">
  <div class="pure-u-2-3">
    <div id="stationmap" >Stationmap goes here</div>
  </div>
  <div class="pure-u-1-6">
    <div id="stationstats">Station Stats go here </div>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-2-3">
    <div id="graph">graph goes here</div>
  </div>
</div>

<div class="purge-g">
  <div id="what">
  <div class="pure-u-2-3">
    <h2>What</h2>
    wdskl  jdlkjf lkdsjf ldsjfdsl flkjfds hat
    wdskl  jdlkjf lkdsjf ldsjfdsl flkjfds hat
    wdskl  jdlkjf lkdsjf ldsjfdsl flkjfds hat
    wdskl  jdlkjf lkdsjf ldsjfdsl flkjfds hat
    wdskl  jdlkjf lkdsjf ldsjfdsl flkjfds hat
    wdskl  jdlkjf lkdsjf ldsjfdsl flkjfds hat
    wdskl  jdlkjf lkdsjf ldsjfdsl flkjfds hat
    wdskl  jdlkjf lkdsjf ldsjfdsl flkjfds hat
    what
    </div>
  </div>
</div>

<div class="purge-g">
  <div id="why">
  <div class="pure-u-2-3">
    <h2>Why</h2>
    wdskl  jdlkjf lkdsjf ldsjfdsl flkjfds hat
    wdskl  jdlkjf lkdsjf ldsjfdsl flkjfds hat
    wdskl  jdlkjf lkdsjf ldsjfdsl flkjfds hat
    wdskl  jdlkjf lkdsjf ldsjfdsl flkjfds hat
    wdskl  jdlkjf lkdsjf ldsjfdsl flkjfds hat
    wdskl  jdlkjf lkdsjf ldsjfdsl flkjfds hat
    wdskl  jdlkjf lkdsjf ldsjfdsl flkjfds hat
    wdskl  jdlkjf lkdsjf ldsjfdsl flkjfds hat
    wdskl  jdlkjf lkdsjf ldsjfdsl flkjfds hat
    wdskl  jdlkjf lkdsjf ldsjfdsl flkjfds hat
    wdskl  jdlkjf lkdsjf ldsjfdsl flkjfds hat
  </div>
</div>
</div>

<div class="purge-g">
  <div id="who">
    <div class="purge-u-2-3">
      <hr>
      This page is brought to you by 
      <a href="mailto:zamansky@cstuy.org">Mike Zamansky</a>
      <p>
      You can find my rants about teaching, computer science and more at <a href="http://cestlaz.github.io">cestlaz.github.io</a>
      
    </div>
  </div>
</div>


</body>
